.header-main {

}

.header-top {
	height: 100px;
	
}

.header-logo {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 18px;
	text-transform: uppercase;
	color: $color_main;

	&:hover {
		color: $color_main;
		text-decoration: none;
		opacity: .7;
	}
}

.nav-icon {
  width: 30px;
  height: 20px;
  display: inline-block;
  // float: right;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
  z-index: 9999999;
  position: relative;

  span {
    display: inline-block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #000;
    opacity: 1;
    left: 0;

    transform: rotate(0deg);
    transition: .35s ease-in-out;

    &:nth-child(1) {
	  top: 0;
	  width: 100%;
	}

	&:nth-child(2), &:nth-child(3) {
	  top: 8px;
  	  width: 50%;
	}

	&:nth-child(4) {
	  top: 16px;
	  width: 75%;
	}
  }

  &.open {
  	span {
  		&:nth-child(1) {
		  top: 24px;
		  width: 0;
		  left: 50%;
		}

		&:nth-child(2) {
		  transform: rotate(45deg);
  		  width: 100%;
		}

		&:nth-child(3) {
		  transform: rotate(-45deg);
          width: 100%;
		}

		&:nth-child(4) {
		  top: 18px;
		  width: 0;
		  left: 50%;
		}
  	}
  }
}